.header {
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header-div {
    height: 13vh;
    border-bottom: 3px solid #C8C8C880;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0;
}

.logo {
    width: 220px;
    height: 65px;
    object-fit: cover;
    transform: scale(1.2);
}

.profile {
    display: flex;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: top;
}

.info {
    border: 2px solid #D3A15D;
    border-radius: 30px;
    margin-right: 3vh;
}